.container{
	width: 1440px;
	height: auto;
	background-color: #a6a6a6;
	margin:0 auto;
	margin-top: 2em;
}
.debit-form{
	width:60%;
	margin: 0 auto;
	background-color: #e5e5e5;
}
.fonts{
	font-size: 1.5em;
}
.form-li{
	width: 80%;
	height: 5em;
	margin: 0 auto;
}
.input-li{
	width: 50%;
	height: 2em;
	margin-left: 5em;
}
.time-f{
	width: 6em;
	margin-left: 5em;
	height: 2em;
	padding-left: 2.5em;
}
.time-l{
	width: 6em;
	height: 2em;
	padding-left: 2.5em;
}
.radio-li{
	margin-left: 1em;
}
.but{
	text-align: center;
}
#radio-one{
	margin-left: 4em;
}
.but-con{
	width: 6em;
	height: 2em;
	font-size: 1.5em;
	background-color: #2a82e4;
	margin-bottom: 1em;
}
a{
	text-decoration: none;
}
a:link{color: blue}
a:visited{color: black}
a:hover{color: black}
a:active{color: black}
.but-can{
	width: 6em;
	height: 2em;
	font-size: 1.5em;
	background-color: #ffffff;
	margin-left: 1.5em;
	margin-bottom: 1em;
}
.topimg{
	width: 100%;
	margin-bottom: 4em;
}